.flicking-viewport {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.flicking-viewport.visible {
  overflow: visible;
}

.flicking-camera {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 1;
}
.flicking-camera>* {
  flex-shrink: 0;
}

.flicking-viewport.vertical {
  display: inline-flex;
}
.flicking-viewport.vertical>.flicking-camera {
  display: inline-flex;
  flex-direction: column;
}
