.eg-flicking-viewport {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.eg-flicking-viewport.visible {
  overflow: visible;
}

.eg-flicking-camera {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 1;
}
.eg-flicking-viewport-vertical>.flicking-camera {
  flex-direction: column;
}

.eg-flicking-camera img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.eg-flicking-panel {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
