.flicking-viewport {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.flicking-viewport.overflow {
  overflow: visible;
}

.flicking-camera {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  will-change: transform;
  font-size: 0;
}

.flicking-camera img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.flicking-panel {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  font-size: 16px; /* IE8 */
  font-size: 1rem; /* IE9~11 */
  font-size: initial;
}
.flicking-viewport.vertical-middle>.flicking-camera .flicking-panel {
  vertical-align: middle;
}
.flicking-viewport.vertical-bottom>.flicking-camera .flicking-panel {
  vertical-align: bottom;
}
.flicking-viewport.vertical>.flicking-camera .flicking-panel {
  display: block;
}
