.flicking-viewport {
  position: relative;
  overflow: hidden;
}

.flicking-camera {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 1;
}
.flicking-camera>* {
  flex-shrink: 0;
}

.flicking-viewport.vertical {
  display: inline-flex;
}
.flicking-viewport.vertical>.flicking-camera {
  display: inline-flex;
  flex-direction: column;
}

.flicking-viewport.flicking-hidden .flicking-camera > * {
  visibility: hidden;
}
