# http://editorconfig.org
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts, *.js, *.vue]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
max_line_length = 80

[{*.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 4
