{
    // Airbnb en https://github.com/airbnb/javascript
    // Airbnb ko https://github.com/tipjs/javascript-style-guide
    // Naver https://github.com/naver/eslint-config-naver
    "extends": "eslint-config-naver",
    "rules": {
        "linebreak-style": 0,
        "comma-dangle": ["error", "never"],
        "no-multi-assign": 0,
        "no-lonely-if": 0
    }
}
