#configs
config
bower.json

#tests
test/
karma.conf.js
angular.json
codecept.conf.js
.storybook/

#build tools
webpack.*.js
.travis.yml
.codeclimate.yml

#linters
.eslintrc*
tslint*

#docs
demo
jsdoc.json

#editor settings
.idea
.editorconfig

coverage/
node_modules/
.github
.babelrc
mocha.opts
packages/
