@import url("https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab:700");

body, body * {
  font-family: 'Open Sans', sans-serif;
}
.flick_demo {
  position: relative;
  margin: 10px;
}
.flick {
  position: relative;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
  border-radius: 10px;
  border: solid 3px;
}
.f_btn {
  border-radius: 50px;
  width: 48px;
  height: 48px;
  font-size: 30px;
  border: 2px solid #B7B5B5;
  background-color: #fff;
  position: absolute;
  z-index: 2001;
  opacity: .8;
  cursor: pointer;
  color: #B7B5B5;
  padding: 0;
  
}
.horizontal .f_btn {
  top: 0;
  bottom: 0;
  margin: auto 10px;
}
.horizontal .f_left {
  left: 10px;
}
.horizontal .f_right {
  right: 10px;
}
.vertical .flick {
  height: 150px;
}
.vertical .f_btn {
  width: 32px;
  height: 32px;
  font-size: 20px;
  margin-right: 10px;
  bottom: 10px;
}
.vertical .f_left {
  right: 50%;
  transform: rotate(90deg);
}
.vertical .f_right {
  left: 50%;
  transform: rotate(90deg);
}
.eg-flick-panel p {
  vertical-align: middle;
  font-size: 2em;
  text-align: center;
}

#log {
  height: 150px;
  overflow-y: scroll;
  background-color: #eee;
  margin: 10px;
  padding-left: 10px;
}

#log .red {
color: red;
}


.plugin{
  height:150px;
}

.plugin-container > div {
  height:100%;
  float:left;
  display:block;
}

.plugin-panel p {
  margin:0;
  padding-top: 20px;
  height: 100%;
  color: #fff;
  font-size: 2.0em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-transform: uppercase;
}

.plugin-panel p span {
  display: inline-block;
  margin-top:15px;
  padding: 10px;
  background-color: red;
  text-transform: lowercase;
  font-size:.7em;
}


.plugin{
  height:150px;
}

.plugin-container > div {
  height:100%;
  float:left;
  display:block;
}

.plugin-panel p {
  margin:0;
  padding-top: 20px;
  height: 100%;
  color: #fff;
  font-size: 2.0em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-transform: uppercase;
}

.plugin-panel p span {
  display: inline-block;
  margin-top:15px;
  padding: 10px;
  background-color: red;
  text-transform: lowercase;
  font-size:.7em;
}

.plugin{
  height:150px;
}

.plugin-container > div {
  height:100%;
  float:left;
  display:block;
}

.plugin-panel p {
  margin:0;
  padding-top: 20px;
  height: 100%;
  color: #fff;
  font-size: 2.0em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-transform: uppercase;
}

.plugin-panel p span {
  display: inline-block;
  margin-top:15px;
  padding: 10px;
  background-color: red;
  text-transform: lowercase;
  font-size:.7em;
}