.posts {
  position: relative;
  margin: 10px auto;
  width: 330px;
  height: 588px;
  border: 2px solid black;
  border-radius: 2px;
  overflow: hidden;
}
.posts .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.posts .header img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.posts .post-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity ease 0.3s;
}
.posts .post-footer img {
  width: 100%;
}
.posts .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(@site/static/img/post-images/dummy.png) no-repeat;
  background-size: 100% 100%;
  /* filter: blur(2px); */
}
.posts .flicking {
  width: 100%;
  height: 547px;
}
.posts .flicking .post-panel {
  width: 100%;
  height: 100%;
}
.posts .flicking .post-panel:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
}
.posts .flicking .post-panel.main {
  position: relative;
  z-index: 2;
  border-left: 0;
  border-right: 0;
  width: 100%;
}
.posts .main img {
  position: absolute;
  left: 0px;
  right: 0;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  bottom: 20px;
}
.posts .post-panel.post img {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  transform: scale(0.85);
  transition: transform ease 0.3s;
  transition-property: transform, opacity;
}
.posts .read .post-panel.post img {
  transform: scale(1);
}
.posts .post-pagination {
  position: absolute;
  padding-left: 16px;
  width: 80px;
  height: 40px;
  line-height: 38.5px;
  font-size: 14px;
  left: 40px;
  background: url(@site/static/img/post-images/rect.png) no-repeat;
  background-size: auto 12px;
  background-position: 0px center;
  transition: opacity ease 0.5s;
  opacity: 0;
}
.posts .post-pagination .current {
  color: rgba(255, 255, 255, 0.2);
}
.posts .all {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 2002;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: top ease 0.5s 0.5s, opacity ease 0.5s 0s;
}
.posts .all .img-area {
  position: relative;
  margin: 15px;
  top: 5px;
}
.posts .all .img-area a {
  position: absolute;
}
.posts .all img {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.posts .open-all .flicking .post-panel img {
  transform: scale(0.7);
  opacity: 0;
}
.posts .open-all .all {
  top: 0;
  opacity: 1;
  transition-delay: 0s;
}
.posts .open-all .post-footer {
  opacity: 0;
}
