<head>
    <title>{{ site.data.egjs.github.repo }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab:700" rel="stylesheet">    
    <link rel="stylesheet" href="./common/css/bootstrap.min.css">
    <link rel="stylesheet" href="./common/css/page.css">
    <link rel="stylesheet" href="./common/css/monokai.css">
    <script src="./common/js/jquery-2.2.4.js"></script>
    <script src="./common/js/bootstrap.min.js"></script>
</head>