<head>
    <title>{{ site.data.egjs.github.repo }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="./common/css/font-awesome.min.css">
    <link rel="stylesheet" href="./common/css/bootstrap.min.css">
    <link rel="stylesheet" href="./common/css/page.css">
    <link rel="stylesheet" href="./common/css/monokai.css">
</head>