<section id="promo" class="promo section">
    <div class="container">
        <div class="hero-image" style="background-image: url({{ site.data.egjs.home }}/img/{{ site.data.egjs.component }}.png)">
        </div>
        <h2 class="title">
            <span class="highlight">{{ site.data.egjs.component }}</span><a href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/releases/tag/{{ site.data.version }}"><span class="version">v{{ site.data.version }}</span></a>
        </h2>
        <p class="intro">{{ site.data.egjs.desc }}<br/>
            <span class="hashtag">{{ site.data.egjs.hashtag }}</span>
        </p>
    </div>
</section>