/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f2a65e;
  --ifm-color-primary-dark: #ef953f;
  --ifm-color-primary-darker: #ee8c2f;
  --ifm-color-primary-darkest: #da7312;
  --ifm-color-primary-light: #f5b77d;
  --ifm-color-primary-lighter: #f6c08d;
  --ifm-color-primary-lightest: #fadabb;
  --ifm-color-info: #3e8ed0;
  --ifm-color-warning: #ffe08a;
  --ifm-color-danger: #f14668;
  --ifm-color-success: #48c78e;
  --ifm-code-font-size: 95%;
}
html[data-theme='dark'] {
  --ifm-background-color: #242526 !important;
}

.title {
  color: var(--ifm-font-color-base) !important;
}
.subtitle {
  color: var(--ifm-font-color-base) !important;
}

.navbar__brand,
.navbar__logo {
  margin-right: 0 !important;
}
.navbar__brand {
  padding: var(--ifm-navbar-item-padding-vertical) 1rem;
}
html[data-theme='dark'] .navbar__logo {
  content: url("@site/static/img/flicking_textonly_white.svg");
}

.footer--dark {
  background-color: #45444f !important;
}

.admonition h5 {
  font-weight: bold;
}

article a {
  font-weight: bold;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.codesandbox-playground {
  width:100%;
  height:500px;
  border:0;
  border-radius: 4px;
  overflow:hidden;
}

.flicking-viewport {
  transition: height 500ms;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.flicking-viewport.vertical > .flicking-camera {
  align-items: center;
}

.flicking-panel {
  width: 50%;
  height: 200px;
  display: flex;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: flex-end;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative;
}
.flicking-index {
  min-width: 60px;
  text-align: center;
  position: relative;
}
.flicking-index::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0.5rem;
  width: 80%;
  border-bottom: 2px solid white;
}
.flicking-panel.has-background-warning .flicking-index::before {
  border-color: rgba(0,0,0,.7);
}
.flicking-index::after {
  content: "PANEL";
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: -1.2rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

.flicking-panel.high {
  height: 300px;
}
.flicking-panel.higher {
  height: 400px;
}
.flicking-panel.full {
  width: 100%;
}
.flicking-panel.thumb {
  padding: 0;
  width: 20%;
  height: 100px;
  margin-bottom: 0;
}
.flicking-panel.thumb.active {
  border: 5px solid #48c78e;
}
.flicking-panel .thumb-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.flicking-panel img {
  user-select: none;
  -webkit-user-drag: none;
}

.panel-with-link {
  width: 100%;
  margin-right: 10px;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
.panel-with-link .flicking-panel {
  width: 100%;
  margin: 0;
}

.nested .flicking-panel {
  width: auto;
  height: 100px;
}
