/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-color-info: #3298dc;
  --ifm-color-warnb: #3298dc;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.codesandbox-playground {
  width:100%;
  height:500px;
  border:0;
  border-radius: 4px;
  overflow:hidden;
}

.flicking-viewport {
  transition: height 500ms;
  width: 100%;
}

.flicking-panel {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flicking-panel.high {
  height: 300px;
}
.flicking-panel.higher {
  height: 400px;
}

.panel-with-link {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
