.flicking-logo {
  content: url("@site/static/img/flicking.svg");
  z-index: 1;
  position: relative;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

html[data-theme='dark'] .flicking-logo {
  content: url("@site/static/img/flicking_white.svg");
}

.main-logo-container {
  position: relative;
}

.main-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-logo-wrapper .flicking-viewport {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.main-logo-wrapper .flicking-camera {
  perspective: 400px;
  align-items: center;
}

.main-logo-box {
  width: 30%;
  height: fit-content;
  margin-right: 10%;
  transform-style: preserve-3d;
}

.main-logo-box p {
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  transform-style: preserve-3d;
}

.framework-logo {
  display: inline-flex;
  text-align: center;
  padding: 2.2rem 2.5rem !important;
}

.framework-logo-wrapper {
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  position: relative;
}

.framework-logo img {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile.is-child {
  width: 100%;
}

html[data-theme='light'] .main-icon {
  fill: black;
}

html[data-theme='dark'] .main-icon {
  fill: white;
}
