<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% for css in site.data.egjs.css %}
	<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for dist in site.data.egjs.dist %}
	<script src="{{ dist }}"></script>
{% endfor %}
<script>
	var homeUrl = window.location.href;
	if (homeUrl.indexOf("#") !== -1) {
		homeUrl = homeUrl.substr(0, homeUrl.indexOf("#"));
	}
	homeUrl = homeUrl
		.replace("/index.html", "/")
		.replace("/gallery.html", "/");
	if (homeUrl[homeUrl.length-1] !== "/") {
		homeUrl += "/";
	};
	window.HOMELINK = homeUrl;
	window.LIBLINK = [];
	{% for dist in site.data.egjs.dist %}
	window.LIBLINK.push(window.HOMELINK + "{{ dist }}");
	{% endfor %}
</script>
<body>
<link rel="stylesheet" href="./common/css/gallery.css">
<div>
	<section id="docs" class="docs section demos">
		<div class="container">
			<div class="docs-inner">
				{% capture demo %}{% include_relative demo.md %}{% endcapture %}
				{{ demo | markdownify }}
			</div>
		</div>
	</section>
</div>
{% for js in site.data.egjs.js %}
	<script src="{{ js }}"></script>
{% endfor %}
<script>
$("h3[id]").append(function() {
	return "<a href='./index.html#" + this.id + "' target='_blank' class='more'>" +
		'<span class="moreBtn">more</span></a>';
});
</script>
</body>
</html>