#variable-size .flicking-viewport .panel0 {
  width: 100px;
}
#variable-size .flicking-viewport .panel1 {
  width: 200px;
}
#variable-size .flicking-viewport .panel2 {
  width: 80px;
}
#variable-size .flicking-viewport .panel3 {
  width: 250px;
}
#variable-size .flicking-viewport .panel4 {
  width: 150px;
}
