html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  padding: 20px 0;
}

.demo-area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#flicking {
  box-sizing: border-box;
}

.flicking-viewport {
  transition: height 500ms;
}

.flicking-panel {
  width: 20%;
  margin-left: 5px;
  margin-right: 10px;
  border: 10px solid transparent;
  box-sizing: border-box;
  max-width: 100%;
  height: 200px;
}

.flicking-panel img {
  width: 100%;
  height: 400px;
}
