.flicking-viewport {
  width: 500px;
  height: 130px;
  margin: 0px auto;
  background: #eee;
  background: rgba(55, 55, 55 0.1);
  border-radius: 5px;
}
.flicking-panel {
  position: relative;
  display: block;
  border-radius: 5px;
  width: 200px;
  margin-top: 5px;
  background: #f55;
  height: 120px;
  text-align: center;
  line-height: 120px;
}
.flicking-viewport .panel0 {
  background: #F47071;
}
.flicking-viewport .panel1 {
  background: #F69462;
}
.flicking-viewport .panel2 {
  background: #EDE484;
}
.flicking-viewport .panel3 {
  background: #90F290;
}
.flicking-viewport .panel4 {
  background: #78CAFF;
}
.flicking-viewport .infinite0 {
  background: #F47071;
}
.flicking-viewport .infinite1 {
  background: #F69462;
}
.flicking-viewport .infinite2 {
  background: #EDE484;
}
.flicking-viewport .infinite3 {
  background: #90F290;
}
.flicking-viewport .infinite4 {
  background: #78CAFF;
}
