.flicking {
  width: 500px;
  height: 200px;
  margin: 0px auto;
  border-radius: 5px;
}
.panel {
  position: relative;
  width: 400px;
  height: 200px;
  background: #f55;
  border-radius: 5px;
  overflow: hidden;
}
.panel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.panel img {
  top: -100%;
  bottom: -100%;
  min-width: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
