@charset "utf-8";
/* COMMON */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table,h1,h2,h3,h4,h5{font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;font-size:15px;line-height:1.267em}
body{position:relative;background-color:#ececec;color:#000;-webkit-text-size-adjust:none}
html{font-size:10px;line-height:15px}
table{border-collapse:collapse}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
img{vertical-align:top}
mark{color:inherit;font-weight:bold;background:none}