

.demo {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 36px auto;
}

.main {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}


.item {
  position: relative;
  background: black;
}

.img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.labels {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 12px;
  left: 12px;
  right: 0;
  z-index: 2;
}

.label {
  display: block;
  cursor: pointer;
  padding: 0 12px;
  line-height: 36px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.label:hover {
  color: rgba(255, 255, 255, 1);
}

.selected {
  background-color: rgba(255, 255, 255, 0.2);
}


.info {
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
  max-height: 72px;
  margin: auto 20px;
}

.name {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  line-height: 24px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
}

.headline {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.area {
  position: absolute;
  width: 92px;
  height: 40px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
