.plugins-panel {
  position: relative;
  display: block;
  border-radius: 5px;
  width: 80%;
  margin-right: 10px;
  background: #f55;
  height: 200px;
  text-align: center;
  line-height: 200px;
  overflow: hidden;
}
.plugins-panel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
.panel-image {
  top: -100%;
  bottom: -100%;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.parallax .panel-image {
  width: 150%;
  max-width: 150%;
}
.relative-container {
  position: relative;
}
.card-panel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
