.flick {
    height: 100px;
    background-color: grey;
    margin: 0 auto;
}
.v_btn {
    border-radius: 20px;
    margin: 3px;
    height: 22px;
    font-size: 10px;
    border: 2px solid #B7B5B5;
    background-color: #fff;
    position: relative;
    z-index: 2001;
    top: -30px;
    cursor: pointer;
    color: #B7B5B5;
}
.eg-flick-panel p {
    vertical-align: middle;
    font-size: 2em;
    line-height: 100px;
    text-align: center;
}
.vbutton {
    text-align: center;
}
.cir_vertical {
	height: 130px !important;
}