.flick {
    height: 100px;
    background-color: grey;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 3px;
}
.v_btn {
    border-radius: 20px;
    margin: 3px;
    width: 35px;
    font-size: 20px;
    border: 2px solid #B7B5B5;
    background-color: #fff;
    position: relative;
    z-index: 2001;
    top: -45px;
    cursor: pointer;
    color: #B7B5B5;
    opacity: .8;
}
.eg-flick-panel p {
    vertical-align: middle;
    font-size: 2em;
    text-align: center;
}
.vbutton {
    text-align: center;
}
.prev_vertical {
	height: 150px !important;
}