name: Run e2e tests
on: [push, pull_request]
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.15.4
      - uses: microsoft/playwright-github-action@v1.4.4
      - name: install
        run: npm install
      - name: install-e2e
        working-directory: ./test/e2e
        run: npm install
      - name: install react
        working-directory: ./packages/react-flicking
        run: npm install
      - name: install vue
        working-directory: ./packages/vue-flicking
        run: npm install
      - name: install vue3
        working-directory: ./packages/vue3-flicking
        run: npm install
      - name: install angular
        working-directory: ./packages/ngx-flicking/projects/ngx-flicking
        run: npm install
      - name: install svelte
        working-directory: ./packages/svelte-flicking
        run: npm install
      - name: run e2e
        working-directory: ./test/e2e
        run: export HEADLESS=true && npm run e2e
